.principal-Login {
    background: linear-gradient(#6e97b7, #434363, #434363, #434363, #434363, #434363, #434363, #434363, #434363);
    height: 100vh;
}

.login {
    background: linear-gradient(#6e97b7, #434363, #434363, #434363, #434363, #434363, #434363, #434363, #434363);
    padding-top: 80px;
}

.logo_edificio_xs {
    position: fixed;
    top: 50px;
    z-index: 1;
}

.form_login {
    color: white;
    padding-top: 30px;
}

mat-form-field.input-login {
    width: 260px !important;
    height: 80px !important;
}

.contenido-formulario>.row {
    padding-bottom: 15px;
}


/**
  * Estilos Modal
  */

.header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    background: linear-gradient(#6e97b7, #6e97b7, #6e97b7, #6e97b7, #6e97b7, #6e97b7, #434363);
    width: 100%;
    height: 147px;
}

.modal-header-firma {
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
    padding-top: 0px;
}

.form-group {
    margin-bottom: 10px !important;
}

.modal-body,
.modal-body>.row>.col-md-12>label {
    color: white !important;
}

.modal-body>mat-form-field {
    width: 100% !important;
}

.modal-content {
    background-color: #434363 !important;
}

.img-seguridad {
    z-index: 10;
    width: 100%;
    padding-top: 20px;
}

.logo-certificado {
    z-index: 10;
    width: 100%;
    padding-top: 30px;
}

mat-form-field.input-modal {
    width: 100% !important;
}

label,
.mat-form-field-label.mat-empty.mat-form-field-empty {
    font-size: 14px;
}

.input-group-sm>.form-control:not(textarea) {
    height: calc(1em + .5rem + 1px) !important;
}

.input-group-sm>.input-group-prepend,
.input-group-sm>.input-group-addon {
    height: calc(15px + 7px + 1px) !important;
}

.input-group-sm {
    padding: .25rem .5rem;
}


/**
  * Estilos Captcha */

#gwd-reCAPTCHA_2 {
    -webkit-transform: scale(0.84);
    -moz-transform: scale(0.84);
    -ms-transform: scale(0.84);
    -o-transform: scale(0.84);
    transform: scale(0.84);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
}

.matlab {
    position: relative;
    display: block;
    margin-bottom: 30px;
}

input {
    position: relative;
    display: block;
    width: 100%;
    padding: 10px 20px;
    -webkit-box-sizing: border-box;
    -mow-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    color: #fff;
    outline: none;
    font-size: 16px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #fff;
    padding-left: 40px;
}

.input-error {
    position: relative;
    display: block;
    width: 100%;
    padding: 10px 20px;
    -webkit-box-sizing: border-box;
    -mow-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    color: #fff;
    outline: none;
    font-size: 16px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid red;
    padding-left: 40px;
}

.errspan {
    float: left;
    margin-left: 15px;
    margin-top: -33px;
    position: relative;
    z-index: 2;
    color: white;
}

.errspann {
    float: left;
    margin-left: 205px;
    margin-top: -42px;
    position: relative;
    z-index: 2;
    color: white;
}

.input-width {
    width: 260px;
}

.div-error {
    position: relative;
    display: block;
    width: 260px;
    height: 40px;
}

.btn-ingreso {
    width: 100px;
    margin-left: 143px;
}